@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 align="center" style="color:black">Magic Game</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Magic Game!</h2>
        <p>
            Here you can get information about the game and players
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create your hero</h2>
        <p>Play and upgrade your hero</p>
    </div>
    <div class="col-md-4">
        <h2>Don't forget about the items!</h2>
        <p>Buy items and upgrade them</p>
    </div>
</div>